* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Banner styles */
.header {
    background-image: url('../images/banner/banner3.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.banner {
    text-align: right;
    font-weight: 700;
    font-size: 65px;
    font-style: normal;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 16px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 30px;
}

.btn-primary {
    height: 50px;
    color: #005FAC;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    border: 0;
}
/* Section 2-failure */
.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

.section-2-img {
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;

}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 48px;
}

.failure-para {
    color: #444343;
    margin-left: 50px;

}

.failure-list {
    margin-top: 20px;
    color: #444343;
    margin-left: 30px;
}

/* Plan */
.my-plan {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
}

.plan-container {
    display: flex;
    gap: 86px;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
}

.plan-title {
    font-size: 25px;
    font-weight: 700;
    /* margin-bottom: 10px; */
    margin-top: 20px;
}

.plan-description {
    font-size: 25px;
    font-weight: 500;
}
/* positive mindset banner */
.mset-banner-title {
    background-image: url("../images/gradient1.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.banner-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-left: 200px;
    padding-top: 50px;
}
.mset-button{
    height: 50px;
    color: #005FAC;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    margin-left: 200px;
    margin-top: 20px;
}
.footer{
    display: flex;
    gap: 50px;
    text-decoration: none;
    padding: 150px;
    background-color: #151414;
}
.footer-title{
    text-align: left;
    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
}
.footer-description{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
